<div class="container_big-card">
    <div class="big-card_photo">
    <a href="#">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
    </a>
            
    </div>
    <div class="big-card_title">
       <h1>
        <a href="#"> meu blog angular  </a>
        </h1>
    </div>
    <div class="big-card_description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dicta dignissimos dolor perspiciatis necessitatibus ex porro cum perferendis. Eaque labore est nemo ipsam sunt possimus nesciunt et maxime excepturi velit?</p>

    </div>
</div>