.container-small_card{

    
    width: 600px;
    margin-bottom: 10px;
    
}

.small-card_content{
    display: flex;
    flex-direction: row;
}

.small-card_photo > a >img{
 width: 100px;
margin-right: 10px;
}

.small-card_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card_separetor{
    margin-top: 10px;
}