<header>
    <app-menu-bar></app-menu-bar>

</header>

<app-menu-title></app-menu-title>
<div class="container_articles">
<div class="articles_main">

<app-big-card
cardTitle=" black hole supermassive" 
cardDescription="Um buraco negro supermassivo é uma classe de buracos negros encontrados principalmente no centro das galáxias. Ao contrário dos buracos negros estelares, que são originados a partir da evolução de estrelas de massa elevada, os buracos negros supermassivos foram formados por imensas nuvens de gás ou por aglomerados de milhões de estrelas que colapsaram sobre a sua própria gravidade quando o universo ainda era bem mais jovem e denso." 
photoCover ="https://t.ctcdn.com.br/ba8KG-kGuxPm9efovI8abNJCHcM=/4400x2475/smart/i281411.jpeg">

</app-big-card>

</div>

<div class="articles_othes">
<app-small-card
 cardTitle="astronomy" 
 photoCover="https://midias.correiobraziliense.com.br/_midias/jpg/2023/08/28/675x450/1_buraco_negro-29162882.jpg?20230828101341?20230828101341"> 
</app-small-card>
<app-small-card 
cardTitle="astronomy" 
photoCover="https://midias.correiobraziliense.com.br/_midias/jpg/2023/08/28/675x450/1_buraco_negro-29162882.jpg?20230828101341?20230828101341">
 </app-small-card>
<app-small-card 
cardTitle="astronomy"
 photoCover="https://midias.correiobraziliense.com.br/_midias/jpg/2023/08/28/675x450/1_buraco_negro-29162882.jpg?20230828101341?20230828101341"> 
</app-small-card>

</div>
</div>